.product {
  height: 100%;
  background: #5f4e33;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product img {
  width: 100%;
  border-radius: 6px;
}

.product-content {
  flex: 1;
  padding: 0 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-content h3 {
  font-size: 1.25rem;
  color: #fbd392;
  margin-bottom: 0.15rem;
}

.product-price {
  font-size: 1rem;
  color: #d1b68b;
  margin: 0;
}

.product-actions {
  text-align: right;
}

.product-actions button {
  background: #f4b115;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: #201e1a;
  font-size: 1rem;
  cursor: pointer;
}

.product-actions button:hover {
  background: #f5b744;
}