.counter {
  padding: 2rem;
  border: 1px solid #05827e;
  border-radius: 6px;
}

.counter p {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 1.5rem;
}

.counter .counter-info {
  display: block;
  font-size: 0.8rem;
  color: #9dc5c4;
  text-align: center;
}

.counter-output {
  font-size: 3rem;
  font-weight: bold;
  color: #b5dad7;
}

.counter-output.negative {
  color: #f3a6a6;
}

.counter ol {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
}

.counter li {
  width: 2rem;
  margin-left: 0.5rem;
  color: #8eb6b3;
  padding: 0.2rem;
}

.counter li:first-child {
  color: #87f0e9;
  font-weight: bold;
  font-size: 1.2rem;
}

.counter li.selected {
  background-color: #335453;
  color: #d9f7f6;
  border-radius: 4px;
}